/* ELEMENTIT ==============================================================*/

*,
*::after,
*::before {
  /* Resetoidaan selainten oletuksia */
  padding: 0;
  margin: 0;

  /* Käytetään border-boxia elementtien tilankäytön 
     määrittelyn helpottamiseksi */
  box-sizing: border-box;
}

html {
  /* Käytetään selainten oletusfonttikokoa */
  font-size: 90%;

  /* Varmistetaan että täytetään vähintään koko ikkuna */
  position: relative;
  min-height: 100%;

}

body {
  /* Dokumentin oletustyylit fontille */
  font-family: 'Lato', 'Segoe UI', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ebebeb;

  background-image: url('../Assets/tausta.png');
  background-position: center;
  background-size: cover;
  background-color: #222222;
  background-attachment: fixed;
}

footer,
header,
main,
nav,
section {
  /* Varmistetaan että HTML5-elementit toimii oikein kaikilla selaimilla */
  display: block;
}

/* OTSIKOT */

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  max-width: 640px;
}

h2 {
  font-size: 2rem;

}

h2::before {
  /* Lisätään käsipainon kuva h2-headereiden eteen */
  content: '';

  display: block;
  width: 40px;
  height: 50px;

  background: url('../Assets/barbell.png') no-repeat;
  background-size: contain;

  float: left;
  margin: 0 6px 0 0;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

/* LINKIT */

a {
  color: #df691a;
  text-decoration: none;
  background-color: transparent;
  transition: 0.5s color;
}

a:hover {
  color: #9a4912;
  text-decoration: underline;
}

a:not([href]),
img:not([alt]) {
  border: 1rem solid #ff0000;
}

/* TAULUKOT */

table {
  border-collapse: collapse;
  font-size: 0.875rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #ebebeb;
  background-color: #303030;
 box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

table th, table td {
  padding: 0.75rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
    text-align: left;
}


table tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

/* LOMAKKEET, INPUTIT, NAPIT YMS */

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button,
.nappi {
  display: inline-block;
  border-radius: 3px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;

  color: #ebebeb;
  text-align: center;
  background-color: transparent;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);

  padding: 0.3rem 0.6rem;

  text-transform: uppercase;

  transition: all 0.5s;
  transition-property: text-decoration, color, background-color;
}

button:hover,
.nappi:hover {
  color: #ebebeb;
  text-decoration: none;
}

button:focus,
.nappi:focus {
  outline: 0;
}

textarea {
  padding: 0.375rem 0.75rem;
  color: white;
  background-color: transparent;
  border: 2px solid #df691a;
  resize: vertical;
}

textarea,
input[type='file'] {
  display: block;
  width: 100%;
}

main input:not([type='file']) {
  transition: all 0.5s;
  transition-property: color, background-color;
}

main input:not([type='file']),
select {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #df691a;
  border-radius: 3px;
}

main input:focus,
select:focus,
textarea:focus {
  color: #000000;
  background-color: #ffffff;
  border-color: #df691a;
  outline: 0;
}

input,
select,
textarea {
  margin-bottom: 1rem;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

/* LISTAT YMS */

p,
ol,
ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

/* MAINI */
main {
  position: relative;
  height: 100%;
  margin: 7rem 0 12.5rem 0;
}

main header {
  display: flex;
  align-items: center;
  margin: 3rem 0 0.5rem 0;
}

main header > a,
main header > button,
main header > form {
  margin-left: 1rem;
}

main p,
main ol,
main ul {
  margin-bottom: 1rem;
}

main form {
  max-width: 30rem;
}

main form button {
  margin-right: 0.5rem;
}

/* HEADERIPALKKI */
body > header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;

  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
  background-color: #303030;

  z-index: 3;
}

/* PÄÄNAVIGOINTI */
body > header nav {
  display: flex;
  align-items: center;
}

body > header nav ul {
  display: flex;
  width: 100%;
  align-items: center;
}

body > header nav ul > li {
  margin: 0 0.5rem;
}

body > header > nav > a {
  font-size: 1.7rem;
  margin-right: 0.5rem;
}

body > header > nav form label {
  display: block;
  margin-bottom: 0;

  font-size: 0.9rem;
}

body > header > nav form input {
  padding: 0 0.25rem;
}

body > header > nav form > div {
  margin: 0 0.3rem;
}

body > header > nav form > button.nappi-p {
  padding: 0 0.5rem;
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

body > header > nav ul > li > a {
  color: white;
}

/* PÄÄFOOTERI */
body > footer {
  padding: 1rem;
  margin-top: 3rem;

  /* Kiinnitetään footeri sivun alareunaan */
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;

  text-align: center;

  background-color: #303030;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}

/* LUOKAT ==================================================================================*/

.flex {
  display: flex;
  align-items: center;
}

.flex-oikea {
  justify-content: flex-end !important;
}

.focus {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.focus h1 {
  margin: 2rem 0;
}

.img {
  max-width: 100%;
  height: auto;
}

.piilotettu {
  opacity: 0 !important;
}

.img-kehys {
  padding: 0.25rem;
  background-color: #2b3e50;
  border: 1px solid #dee2e6;
  border-radius: 0px;
  max-width: 100%;
  height: auto;
}

.keskita {
  margin-left: auto;
  margin-right: auto;
}

.keskella {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.kapea {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 800px) {

  .kapea {
    max-width: 760px;
  }
}

@media (min-width: 1000px) {
  .kapea {
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
  .kapea {
    max-width: 1150px;
  }
}

.nappi-p {
  color: #fff;
  background-color: #df691a;
  border-color: #df691a;
}

.nappi-p:hover {
  color: #fff;
  background-color: #bd5916;
  border-color: #b15315;
}

.nappi-s {
  background-color: transparent;
  border: 0.15rem solid #bd5916;
}

.nappi-s:hover {
  background-color: #bd5916;
}

.nappi-d {
  background-color: #d9534f !important;
  border: none;
}

.nappi-m {
  background-color: #4bb543;
  border: none;
}

.nowrap {
  flex-wrap: nowrap !important;
}

.oikealle {
  margin-left: auto;
}

.sailio {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  justify-content: flex-start;
}

.sailio-keskita {
  justify-content: center;
}

.valittu {
  color: #df691a;
}

.valia {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.kayttaja-kuva {
  margin-right: 2rem;
  max-width: 400px;
}

/* KOMPONENTIT ========================================*/

section.ohjelma,
section.kayttaja,
section.harjoitus {
  display: flex;
  min-width: 150px;
  width: 22%;
  margin: 0.5rem;
  background-color: #303030;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 1);
  border-radius: 0.5rem 0.5rem 0.2rem 0.2rem;
  overflow: hidden;
}

section.ohjelma:hover, 
section.kayttaja:hover {
  box-shadow: 0.1rem 0.1rem 1rem #000000;
  background-color: rgb(59, 58, 58);
}

section.ohjelma > a > div,
section.kayttaja > a > div {
  padding: 0.75rem;
}

section.ohjelma > a,
section.kayttaja > a {
  flex: 1;
  top: 0;
  left: 0;
  text-decoration: none;
  color: inherit;
}

section.ohjelma > a > div > h3 {
  color: #df691a;
}



section.kayttaja > div > h3 {
  margin-bottom: 1rem;
}

section.ohjelma > div > p {
  color: #999999;
}

section.harjoitus div.controls {
  padding: 0;
  display: flex;
}

tr.ohjelma-tr,
tr.suoritus-tr {
  transition: opacity 1s;
  opacity: 1;
}

.ohjelma-tr button,
.ohjelma-tr .nappi,
.suoritus-tr button,
.suoritus-tr .nappi,
.harjoitus-tr .nappi,
.harjoitus-tr button,
.vaihe-tr button,
.vaihe-tr .nappi {
  margin: 0.25rem;
}

/* ID =================================================*/
#ilmoittaja {
  background-color: transparent;
  position: fixed;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 2;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.25rem;
  transition: 0.5s all;
  transition-property: top, background-color, color;
}

#harjoitukset {
  min-width: 500px;
}

#ilmoittaja.onnistunut,
#ilmoittaja.virhe {
  visibility: visible;
  top: 60px;
}

#ilmoittaja.onnistunut {
  background-color: #4bb543 !important;
}

#ilmoittaja.virhe {
  background-color: #b00020;
}

input.virhe,
textarea.virhe,
select.virhe {
  border-color: #b00020 !important;
}

#kaikki-kayttajat-container,
#kaikki-ohjelmat-container {
  min-height: 20rem;
}

#omat-ohjelmat li {
  margin-bottom: 0.7rem;
}

#omat-ohjelmat li a {
  font-size: 1.1rem;
  
}
