/* ELEMENTIT ==============================================================*/

*,
*::after,
*::before {
  /* Resetoidaan selainten oletuksia */
  padding: 0;
  margin: 0;

  /* Käytetään border-boxia elementtien tilankäytön 
     määrittelyn helpottamiseksi */
  box-sizing: border-box;
}

html {
  /* Käytetään selainten oletusfonttikokoa */
  font-size: 100%;

  /* Varmistetaan että täytetään vähintään koko ikkuna */
  position: relative;
  min-height: 100%;
}

body {
  /* Dokumentin oletustyylit fontille */
  font-family: 'Lato', 'Segoe UI', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ebebeb;

  background-color: #222222;
}

footer,
header,
main,
nav,
section {
  /* Varmistetaan että HTML5-elementit toimii oikein kaikilla selaimilla */
  display: block;
}

/* OTSIKOT */

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h2::before {
  /* Lisätään käsipainon kuva h2-headereiden eteen */
  content: '';

  display: block;
  width: 40px;
  height: 50px;

  background: url('../Assets/barbell.png') no-repeat;
  background-size: contain;

  float: left;
  margin: 0 6px 0 0;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

/* LINKIT */

a {
  color: #df691a;
  text-decoration: none;
  background-color: transparent;
  transition: 0.5s all;
}

a:hover {
  color: #9a4912;
  text-decoration: underline;
}

a:not([href]),
img:not([alt]) {
  border: 1rem solid #ff0000;
}

/* LISTAT YMS */

p,
ol,
ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

/* MAINI */
main {
  position: relative;
  height: 100%;
  margin: 7rem 0 12.5rem 0;
}

/* HEADERIPALKKI */
body > header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;

  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
  background-color: #303030;

  z-index: 3;
}

/* PÄÄNAVIGOINTI */
body > header nav {
  display: flex;
  align-items: center;
}

body > header nav ul {
  display: flex;
  width: 100%;
  align-items: center;
}

body > header nav ul > li {
  margin: 0 0.5rem;
}

body > header > nav > a {
  font-size: 1.7rem;
  margin-right: 0.5rem;
}

body > header > nav form {
  display: inline-flex;
}

body > header > nav form label {
  display: block;
  margin-bottom: 0;

  font-size: 0.9rem;
}

body > header > nav form > div {
  margin: 0 0.3rem;
}

body > header > nav form > button.nappi-p {
  padding: 0 0.5rem;
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

body > header > nav ul > li > a {
  color: white;
}

/* PÄÄFOOTERI */
body > footer {
  padding: 1rem;
  margin-top: 3rem;

  /* Kiinnitetään footeri sivun alareunaan */
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;

  text-align: center;

  background-color: #303030;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
}
